<!-- head 는 문서 정보를 가지고 있지만, 웹 페이지에서 보이지 않는 정보들을 담는 영역입니다.

body 란 웹 페이지에 직접적으로 보이는 내용이 들어갑니다. 웹 페이지의 내용은 모두 이 body태그안에 들어갑니다. -->
{% extends "menu/layout.html" %}
{% block title %}
소환사 분석
{% endblock %}

{% block content %}

        <p>
        	{% for info in infos %}
        		<h4> 소환사명: {{ info.name }} </h4>
        		<h4> 레벨: {{ info.summonerLevel }} </h4>
        	{% empty %}
        		검색 결과가 없습니다.
        	{% endfor %}
        </p>
        <p>
            {% for match in matches %}
                <h4> gameId: {{ match.gameId }} </h4>
                <h4> accountId: {{ match.accountId }} </h4>
            {% empty %}
                검색 결과가 없습니다.
            {% endfor %}
        
        </p>
        
        
{% endblock %} 